<div class="container-fluid footer-basic-centered container-padding">
  <div class="row container-nm">
  <div class="container">
   <p class="footer-company-motto np">5Minds Informationen</p>

   <p class="footer-links">
     <a href="tel:+492098830680">Tel.:+49(0)209-883068-0 </a>
      | 
     <a href="mailto:info@5minds.de">info@5Minds.de</a>
      | 
     <a href="/imprint">Impressum</a>
      | 
     <a href="/contact">Kontakt</a>
   </p>

   <p class="footer-company-name">&#169; 5Minds IT-Solutions GmbH & Co. KG {{copyrightYear}}</p>

 </div>
 </div>
</div>