<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img style="width: 140px" class="img-responsive logo_padding" src="/assets/images/5Minds_Logo.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right nav-tabs nav_padding" data-tabs="tabs">
        <li class="navbarborderxs">
          <a data-toogle="tab" href="/" target="">Home</a>
        </li>
        <li class="navbarborderxs">
          <a data-toogle="tab" href="/expertise" target="">
            Expertise
          </a>
        <li class="navbarborderxs">
          <a data-toogle="tab" href="/credentials" target="">
            Referenzen
          </a>
        </li>        
        
        <li class="navbarborderxs">
          <a data-toogle="tab" href="/career/general_career" target="">
            Karriere
          </a>
        </li>
        <li class="navbarborderxs">
          <a data-toogle="tab" href="/contact" target="">
            Kontakt
          </a>
        </li>
        <li class="navbarborderxs">
          <a data-toogle="tab" href="/aboutus" target="">
            Über uns
          </a>
        </li>
        <li class="navbarborderxs">
          <a data-toogle="tab" href="http://blog.5minds.de" target="">
            Blog
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>